// fonts
$font-main: 'Courier Prime';
$font-secondary: 'Roboto';

// colors
$color-black: #1A1A1A;
$color-white: #ffffff;
$color-gray: #E6E0db;
$color-orange: #dc8221;
$color-lightBrown: #BDA78A;
$color-brown: #A37845;