* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }


.createBody {
    background-color: $color-background;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createform {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 1024px) {
    .createpreview {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 60px;
        margin-top: 60px;
        overflow-x: hidden;
    }
}