.createBody {
    background-color: $color-background;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createform {
    display: flex;
    flex-direction: column;
    align-items: center;

}
