.landingBody {
    height: 100vh;
    background-image: linear-gradient(rgba(163, 120, 69, 0.4), rgba(163, 120, 69, 0.3)), url("/images/background.jpg");
    background-position-x: 10%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.logo {
    max-width: 140px;
}

.h1 {
    font-family: $font-main;
    color: $color-white;
    font-size: 32px;
    font-weight: 100;
    padding-top: 18px;
    & span {
        font-weight: bold;
        font-size: 32px;
    }
}

.textCrea {
    font-family: $font-secondary;
    color: $color-white;
    font-weight: bold;
    font-size: 16px;
    width: 200px;
    text-align: center;
    padding-top: 30px;
}

.containerLink {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linkCrea {
    font-family: $font-main;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    background-color: $color-orange;
    padding: 8px 20px 8px 20px;
    border-radius: 10px;
    color: $color-white;
    box-shadow: 0px 3px 15px rgba(109, 76, 35, 0.5);
}

.textComparte {
    font-family: $font-secondary;
    color: $color-white;
    font-size: 13px;
    width: 200px;
    text-align: center;
    padding-top: 18px;
}



@media screen and (min-width: 1024px) {
  .logo {
    max-width: 140px;
  }
  
  .h1{
    font-size: 40px;
    & span {
        font-size: 40px;
    }
  }
  
  .textCrea {
    font-size: 24px;
    width: 300px;
  }

  .linkCrea {
    font-size: 24px;
    padding: 8px 38px 8px 38px;
  }

  .textComparte {
    font-size: 21px;
    width: 300px;
  }
}