body {
    height: 100vh;
    background-image: url("/images/background.jpg");
    background-position-x: 10%;
    background-size: 250%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(163, 120, 69, 0.4);
    pointer-events: none;
    & ::before{
        content: '';
        position: absolute;
        // top: 0;
        // left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(163, 120, 69, 0.4);
        pointer-events: none;
    }
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo { //porcentaje tamaño en relación a body
    max-width: 150px;
}

.h1 {
    font-family: $font-main;
    color: $color-white;
    font-size: 32px;
    font-weight: 100;
    & span {
        font-weight: bold;
    }
}

.textCrea {
    font-family: $font-secondary;
    color: $color-white;
}

.containerLink {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linkCrea {
    font-family: $font-main;
    font-size: 16px;
    text-decoration: none;
    background-color: $color-orange;
    padding: 8px 20px 8px 20px;
    border-radius: 8px;
    color: $color-white;
}

.textComparte {
    font-family: $font-secondary;
    color: $color-white;
    text-align: center;
}