.btn {
    width: 38%;
    color: $color-white;
    font-family: $font-main;
    font-size: 32px;
    background-color: $color-black;
    border-radius: 10px;
    text-align: center;
}
.btn-img{
    width: 20px;
}