.hidden{ /*Display para esconder los iconos de redes*/
    display: none;
}

.redes {/*Display para los iconos de redes*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redes-sociales {
    text-align: center; 
    font-family: Arial, sans-serif; 
    color: $color-orange; 
    margin-bottom: 45px;
    
}
  
.redes-sociales p {
    font-size: 16px; 
}
  
.icons img {
    width: 30px; 
    margin: 0 10px 20px; /* Espacio horizontal entre íconos */
    cursor: pointer; /* Cambia al pasar por encima */
    transition: transform 0.7s ease; /* Efecto suave al pasar el cursor */
}
  
.icons img:hover {
    transform: scale(0.8); /* cambia de tamaño al pasar el mouse */
}
