
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./scss/main.scss" />
</head>
<body>
    
    <div class="card">

        <article class="recipe1">
            <img src="" alt="" class="recipe1_image">
            <h2 class="recipe1_title"> Título de la receta</h2>
            <p class="recipe1_diners">Nº de comensales</p>
            <p class="recipe1_time">Tiempo de preparación</p>
        </article>
    
        <section class="recipe2">
            <p class="recipe2_ingredients">Ingredientes</p>
            <p class="recipe2_steps">Pasos</p>
        </section>
    
    </div>

</body>
</html>

