<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/scss/layout/_description.scss">

</head>
<body>
    


<fieldset class="recipie-container">
       <p class="title-container" > 
         <img class="img"   src="/images/write_black.png" alt="">
        Describe la <span class="highlight">receta:</span></p>
    
   
        <label for=""></label>
        <input class="form-input" type="text" name="name" id="field3" placeholder="Nombre de la receta" required/>  <!-- //patri añadido ID -->

        <label for=""></label>
        <input class="form-input" type="file" name="image" id="photo" placeholder="Sube tu foto" required/>  <!-- //patri añadido ID -->

        <label for=""></label>
        <input class="form-input" type="number" name="number" id="field1" placeholder="Número de comensales" required/> <!-- //patri añadido ID -->

        <label for=""></label>
        <input class="form-input" type="text" name="text" id="field4" placeholder="Tiempo de preparación (ej: 60 min)" required/> <!-- //patri añadido ID -->

        <label for=""></label>
        <input class="form-input" type="text" name="text" id="field5" placeholder="
        Ingredientes" required/> <!-- //patri añadido ID -->

        <label for=""></label>
        <input class="form-input" type="number" name="number" id="field6" placeholder="Nivel de dificultad sobre 10"/> <!-- //patri añadido ID -->
   
 </fieldset>


</body>
</html>
    
