<fieldset>
    <p> 
        <img src="/images/write_black.png" alt="">
        Describe la <span>receta</span></p>
    
   
        <label for=""></label>
        <input type="text" name="name" id="name" placeholder="Nombre de la receta" required/>

        <label for=""></label>
        <input type="fyle" name="image" id="image" placeholder="Sube tu foto" required/>

        <label for=""></label>
        <input type="number" name="number" id="number" placeholder="número de comensales" required/>

        <label for=""></label>
        <input type="text" name="text" id="number" placeholder="tiempo de preparación ej 60 min" required/>

        <label for=""></label>
        <input type="text" name="text" id="text" placeholder="
        Ingedientes" required/>

        <label for=""></label>
        <input type="number" name="number" id="number" placeholder="nivel de dificultad sobre 10"/>
   
 </fieldset>
    
