
<fieldset class="firstform-container" >
    <fieldset class="form_desing">
        <img  class="design_img" src="/images/design_black.png" alt=""> 
        <p class="firstform-title">Elige tu <span class="highlight">diseño:</span></p>
    </fieldset>
    <div class="div_design">
        <div class="desgin_options">
        <a href="" class="option-circle" id="field2">1</a>
        <span class="option-text">Vintage</span></div>

        <div class="desgin_options">
        <a href="" class="option-circle" id="field2">2</a>
        <span class="option-text">Bordeado</span></div>

        <div class="desgin_options">
        <a href="" class="option-circle" id="field2">3</a>
        <span class="option-text">Oscuro</span></div>
    </div>
<!--podemos poner a o necesitamos poner inputs para seleccionar el diseño de la targeta?-->
    </fieldset>

