<section>
    
    <div class="previsual">

        <article class="">
            <img src="" alt="" class="recipe_image">
            <h2 class="title"> TÍTULO DE LA RECETA</h2>
            <p class="diners">Nº de comensales</p>
            <p class="time">Tiempo de preparación</p>
        </article>
    
        <section class="recipe">
            <p class="steps">Pasos</p>
            <p class="ingredient">Ingredientes</p>
            
        </section>
    
    </div>

    <div>
        <p>Comparte en tus redes sociales</p>
        <img src="/public/images/media_x.png" alt="">
        <img src="/public/images/media_facebook.png" alt="">
        <img src="/public/images/media_instagram.png" alt="">
    </div>

</section>
